<div class="container">
  <section id="home-section"></section>
  <app-header></app-header>
  <main class="main">
    <div class="content">
      <app-main-banner></app-main-banner>
      <div class="match-day-selector">
        <label for="matchDay">Choose a match day:</label>
        <select
          id="match-section"
          [(ngModel)]="selectedDay"
          (change)="onMatchDayChange($event)"
        >
          <option [value]="1">Day 1</option>
          <option [value]="2">Day 2</option>
        </select>
      </div>
      <div class="match-grid">
        <app-match-card
          *ngFor="let match of matches"
          [match]="match"
        ></app-match-card>
      </div>
      <app-highlighted-match></app-highlighted-match>
      <div class="trending-news-section">
        <section id="news-section"></section>
        <app-trending-news></app-trending-news>
      </div>
    </div>
    <app-about-us></app-about-us>
  </main>
  <app-footer></app-footer>
</div>
